<section v-if="lastVisitedProducts.length > 0" :class="this.model?.cssClass" class="last-visited-products container" :id="'comp-'+this.model.id">
    <div v-if="this.model.header !== null && this.model.header !=''"
         :class="['d-flex', 'flex-wrap', 'mb-3 pb-3 header-wrap', getAlignmentClass(model.alignment)]">
        <h2 class="h4 fw-bold mb-0">{{ model.header }}</h2>
        <span class="decor"></span>
    </div>
    <div class="">
        <div v-if="!carouselLoaded" class="spinner-grow spinner-grow-sm body-secondary-text d-flex mx-auto" style="width: 2rem; height: 2rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div v-show="carouselLoaded">
            <div :id="this.carouselId" class="swiper" :class="'last-visited-carousel-'+this.model.id" :class="[{'showCarousel': !isLoading}]">
                <div class="swiper-wrapper">
                    <div v-for="product in this.lastVisitedProducts" class="swiper-slide">
                        <productlistitem :model="product" :isCalculated="areProductsCalculated"></productlistitem>
                    </div>
                </div>
                <div class="swiper-pagination" :class="'swiper-pagination-' + this.model.id"></div>
            </div>
        </div>
    </div>
</section>