<div v-if="this._global.isAuthenticated && this._global.permissions.includes('cs_manage_sales_orders')" class="row align-items-end justify-content-end mb-2">
    <div class="col-md-2 d-flex justify-content-end">
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle btn-shadow btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div v-if="isLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <span v-if="!isLoading">##Export_Cart##</span>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item" @click.prevent="exportCart('excel')">Excel</a>
                <a href="#" class="dropdown-item" @click.prevent="exportCart('csv')">Csv</a>
            </div>
        </div>
    </div>
</div>