<div class="card product-wrap">
    <div v-if="product.additionalFeatures.icoTags !== null" class="product-badge" v-html="this._getBadges(product)">
    </div>
    <div class="product-thumb">
        <a :href="'/product/'+product.alias"class="img-wrap">
            <img v-if="this._getMediaItem(product.mediaItems)!==null" :src="this._getMediaItem(product.mediaItems)"
                alt="Product" @error="handleImageError">
            <img v-else :src="this._getNoImageUrl()" alt="Product" width="200" @error="handleImageError"
                class="no-img" />
            </a>
            <!-- Shopping Lists -->
            <button v-if="this._resolveModules('shoppinglists')" class="btn btn-light product-list"
                @click="handleAddToListModal()" :class="checkStyle()">
                <span class="s-heart large"><span>##ShoppingLists##</span></span>
            </button>
    </div>
    <div class="product-info">
        <h3 class="product-title p">
            <a v-if="product.productVariants[0].title !== null"
                :href="'/product/'+product.alias">{{product.productVariants[0].title}}</a>
            <a v-else :href="'/product/'+product.alias">{{product.title}}</a>
        </h3>
        <span v-if="product.productVariants.length>0 && product.productVariants[0].sku!=null"
            class="product-sku">{{product.productVariants[0].sku}}</span>
        <div class="product-cart">
            <addtocart :model="product":quantityActive="false":isCalculated="isCalculated"></addtocart>
        </div>
    </div>
</div>

<div ref="addToList" class="shoppingList-modal modal fade" v-bind:class="{show:showAddToListModal}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title p">##AddToList##</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"
                    @click="closeAddToListModal"></button>
            </div>
            <div class="modal-body">
                <div class="card product-card">
                    <div v-if="this._getMediaItem(product.mediaItems)!==null" class="card-img-top mb-3">
                        <img style="max-height:350px" :src="this._getMediaItem(product.mediaItems)" :alt="Product"
                            @error="this._handleImageError" />
                    </div>
                    <div v-else class="card-img-top mb-3">
                        <img :src="this._getNoImageUrl()"alt="no image"style="max-height:350px" />
                    </div>
                    <div class="card-body p-0">
                        <h5 v-if="product.productVariants.length >0" class="product-title mb-5">
                            {{product.title}}
                        </h5>
                        <div class="col-12 mb-4 shoppingList-wrap" v-if="this.lists.length > 0">
                            <div data-simplebar data-simplebar-auto-hide="false" style="max-height:190px;">
                                <div class="form-check" @click="this.updateShoppingList(list);" v-for="list in this.lists" :key="list.id">
                                    <input v-model="list.checked" class="form-check-input" type="checkbox" :id="list.alias">
                                    <label class="fs-md fw-bold tooltip-custom" for="list.alias">
                                        {{list.title}}
                                        <small :id="list.id+'-tooltip-text-added'" class="d-none ms-2 text-primary">##Added##</small>
                                        <small :id="list.id+'-tooltip-text-removed'" class="d-none ms-2 text-primary">##Removed##</small>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <form @submit.prevent="this.createList()" class="new-shoppingList-form row g-3">
                            <div class="col-sm-6">
                                <input type="text" v-model="this.title" class="form-control py-3" name="name"
                                    placeholder="##NewListName##" required />
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary w-100 py-3">
                                    <span class="s-save"><span class="d-none">##Save##</span></span>
                                    ##Save##
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>