<div class="row">
    <div class="col-md-4">
        <label class="form-label" for="quote-status">##Status##</label>
        <select class="form-select" id="quote-status" v-model="selectedQuoteStatus" @change="changeQuoteStatus($event)">
            <option v-for="status in quoteStatuses" :value="status">
                <span v-if="status === 'All'">##All##</span>
                <span v-if="status === 'Quoted'">##Quoted##</span>
                <span v-if="status === 'Completed'">##Completed##</span>
                <span v-if="status === 'Accepted'">##Accepted##</span>
                <span v-if="status === 'Declined' ||status === 'Cancelled' ">##Declined##</span>
            </option>
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label" for="quote-status">##Sort##</label>
        <select class="form-select" id="quote-status" v-model="selectedQuoteSort" @change="changeQuoteSort($event)">
            <option v-for="sort in quoteSorts" :value="sort">
                <span v-if="sort === 'ExpirationDate'">##ExpirationDate##</span>
                <span v-if="sort === 'UpdateDate'">##UpdateDate##</span>
            </option>
        </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2 ps-0">
        <label class="form-label"></label>
        <a href="/quote/add" class="btn btn-primary btn-sm d-flex justify-content-center mt-2">##Create##</a>
    </div>
</div>

<div class="table-responsive fs-md mb-4">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th class="text-start">##Code##</th>
                <th class="text-center">##Status##</th>
                <th class="text-center">##ExpirationDate##</th>
                <th class="text-center">##Actions##</th>
            </tr>
        </thead>
        <tbody v-if="quotes !=null && quotes.length > 0">
            <tr v-for="quote in quotes">
                <td class="py-3 text-start">{{quote.code}}</td>
                <td class="py-3 text-center">
                    <span v-if="quote.status ==='Quoted' || quote.status === 0" class="badge bg-accent">
                        ##Quoted##
                    </span>
                    <span v-else-if="quote.status ==='Declined' || quote.status === 2 || quote.status ==='Cancelled' || quote.status === 3" class="badge bg-danger">
                        ##Declined##
                    </span>
                    <span v-else-if="quote.status ==='Completed' || quote.status === 5" class="badge bg-success">
                        ##Completed##
                    </span>
                    <span v-else-if="quote.status ==='Accepted' || quote.status === 1" class="badge bg-success">
                        ##Accepted##
                    </span>
                </td>
                <td class="py-3 text-center">{{quote.expirationDate ? formatDate(quote.expirationDate) : ''}}</td>
                <td class="py-3 text-center">
                    <a :href="navigateToQuote(quote)" class="btn btn-primary btn-sm">##View##</a>
                </td>
            </tr>
        </tbody>
        <tbody v-if="quotes === null || quotes.length === 0">
            <tr>
                <td class="text-center" colspan="5">
                    <div v-bind:class="{'d-none': !isLoading}" class="spinner-border" role="status">
                        <span class="visually-hidden">##Loading##...</span>
                    </div>
                    <div v-show="!isLoading && totalCount === 0"><i class="ci-eye-off opacity-60 me-2"></i>##NoResults##</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav v-if="quotes!=null && quotes.length>0" class="d-flex justify-content-between pt-2" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" v-on:click.prevent="prevPage()"><i class="ci-arrow-left me-2"></i>##Prev##</a></li>
    </ul>
    <ul class="pagination">

        <li v-if="ShowFirstPage" class="page-item d-none d-sm-block">
            <a class="page-link" href="#" v-on:click.prevent="pagination(1)">1</a>
        </li>
        <li v-if="ShowPreviousPage">
            <div class="p-1">...</div>
        </li>
        <li v-if="ShowPreviousPage" class="page-item d-none d-sm-block">
            <a class="page-link" href="#" v-on:click.prevent="prevPage()">{{PreviousPage}}</a>
        </li>

        <li class="page-item active d-none d-sm-block" aria-current="page"><span class="page-link">{{currentPage}} <span class="visually-hidden">(current)</span></span></li>

        <li v-if="ShowNextPage" class="page-item d-none d-sm-block">
            <a class="page-link" href="#" v-on:click.prevent="nextPage()">{{NextPage}}</a>
        </li>
        <li v-if="ShowNextPage">
            <div class="p-1">...</div>
        </li>
        <li v-if="ShowLastPage" class="page-item d-none d-sm-block">
            <a class="page-link" href="#" v-on:click.prevent="pagination(LastPage)">{{LastPage}}</a>
        </li>
    </ul>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" aria-label="Next" v-on:click.prevent="nextPage()">##Next##<i class="ci-arrow-right ms-2"></i></a></li>
    </ul>
</nav>